<section data-ng-controller="authController" ng-hide="userId">
  <div class="container-fluid navbar">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">
          Looking For Game
      </a>
    </div>
    <div class="navbar-form navbar-right">
      <label for="sign-in" class="sr-only">sign-in</label>
      <a href="signin.html"><button name="sign-in" class="btn btn-primary">Sign in</button></a>
      <label for="signup" class="sr-only">signup</label>
      <a href="signup.html"><button name="signup" class="btn btn-primary">Sign up</button></a>
    </div>
  </section>
  <div data-ng-controller="authController" ng-show="userId">
    <div class="container">
      <div class="row">
        <h1 class="siteHeader--title three columns">Looking For Game</h1>
        <form data-ng-submit="logout()" class="offset-by-four five columns">
          <h2 class="three columns">{{ userName }}</h2>
          <button type="submit" class="btn btn-primary five columns">Log Out</button>
        </form>
      </div>
    </div>
  </div>
</div>
