<!-- Navigation -->
<!-- user-fetching logic is currenty maintained in instancesController, so the instancesController is still in the header so the $rootScope variables are available everywhere -->
<header id="header">
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" data-ng-controller="instancesController">

        <!-- Navbar when User is Logged In -->
        <div ng-show="userId" class="container">
            <a class="navbar-brand col-xs-5" href="account">{{userName}}</a>
            <ul class="pull-right list-inline col-xs-13">
                <li>
                    <label for="lobby" class="sr-only">lobby</label>
                    <a ui-sref="main"><button name="lobby" class="btn btn-primary-transparent">Lobby</button></a>
                </li>
                <li data-ng-controller="authController">
                    <label for="logout" class="sr-only">Log Out</label>
                    <button ng-click="logout()" name="logout" class="btn btn-primary">Log Out</button>
                </li>
            </ul>
        </div>

        <!-- Navbar when User is Not Logged In -->
        <div ng-hide="userId" class="container">
            <a class="navbar-brand column col-xs-5 hidden-xs" href="/">Looking For Game</a>
            <a class="navbar-brand column col-xs-5 visible-xs" href="/">lfg</a>
            <ul class="pull-right list-inline col-xs-13">
                <li>
                    <label for="login" class="sr-only">login</label>
                    <a ui-sref="login"><button name="login" class="btn btn-primary-transparent">Login</button></a>
                </li>
                <li>
                    <label for="signup" class="sr-only">signup</label>
                    <a ui-sref="signup"><button name="signup" class="btn btn-primary">Sign up</button></a>
                </li>
            </ul>
        </div>
    </nav>
</header>
