<section ui-view="account" class="container" data-ng-controller="accountController">
    <p></p>
    <p>
        <h1>User Account - {{userName}}</h3>
        <h2>User ID: {{userId}}</h2>
        <p>
            Info about a user's account would go here. Info about a user's account would go here. Info about a user's account would go here. Info about a user's account would go here. Info about a user's account would go here. Info about a user's account would go here. Info about a user's account would go here. Info about a user's account would go here. Info about a user's account would go here. Info about a user's account would go here. Info about a user's account would go here.
        </p>

    </p>
</section>
