<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Looking For Game</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Aclonica' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Rhodium+Libre' rel='stylesheet' type='text/css'>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link href="/css/application.css" type="text/css" rel="stylesheet" />
  </head>

  <body data-ng-app="gameApp">
    <header class="siteHeader" data-header></header>
    <main>
      <div data-ng-controller="authController" ng-hide="userId" class="container">
        <div class="omb_login">
          <h3 class="omb_authTitle">Login</h3>

          <!-- Social Login -->
<!--
          <div class="row omb_row-sm-offset-3 omb_socialButtons">
            <div class="col-xs-4 col-sm-2">
              <a href="#" class="btn btn-lg btn-block omb_btn-facebook">
              <i class="fa fa-facebook visible-xs"></i>
              <span class="hidden-xs">Facebook</span>
              </a>
            </div>
            <div class="col-xs-4 col-sm-2">
              <a href="#" class="btn btn-lg btn-block omb_btn-twitter">
              <i class="fa fa-twitter visible-xs"></i>
              <span class="hidden-xs">Twitter</span>
              </a>
            </div>
            <div class="col-xs-4 col-sm-2">
              <a href="#" class="btn btn-lg btn-block omb_btn-google">
              <i class="fa fa-google-plus visible-xs"></i>
              <span class="hidden-xs">Google+</span>
              </a>
            </div>
          </div>
          <div class="row omb_row-sm-offset-3 omb_loginOr">
            <div class="col-xs-12 col-sm-6">
              <hr class="omb_hrOr">
              <span class="omb_spanOr">or</span>
            </div>
          </div>
 -->
          <div class="row omb_row-sm-offset-3">
            <div class="col-xs-12 col-sm-6">
              <form data-ng-submit="login(user)" class="omb_loginForm" autocomplete="off">
                <div class="alert alert-danger ng-cloak" role="alert" ng-cloak ng-show="errorMsg">
                  <strong>{{errorMsg}}</strong>
                </div>
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-user"></i></span>
                  <input data-ng-model="user.username" type="text" class="form-control" name="username" placeholder="Username" required>
                </div>
                <span class="help-block"></span>

                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                  <input data-ng-model="user.password" type="password" class="form-control" name="password" placeholder="Password" required>
                </div>
                <span class="help-block"></span>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
              </form>
            </div>
          </div>

          <!-- TODO: Remember Me and Forgot Password Features -->

          <div class="row omb_row-sm-offset-3">
            <div class="col-xs-12 col-sm-3">
<!--               <label class="checkbox">
                <input type="checkbox" value="remember-me">Remember Me
              </label>
 -->
            </div>
            <div class="col-xs-12 col-sm-3">
              <p class="omb_forgotPwd">
                Need an account? <a href="signup.html">Sign up</a>
              </p>
            </div>
          </div>
        </div>
      </div>



    </main>
    <footer data-footer></footer>
    <script src="js/bundle.js"></script>
  </body>

</html>
