<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Looking For Game</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Aclonica' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Rhodium+Libre' rel='stylesheet' type='text/css'>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link href="/css/application.css" type="text/css" rel="stylesheet" />
  </head>
  <body data-ng-app="gameApp">
    <header class="siteHeader" data-header></header>
    <main>


<!-- Original Layout and Logic -->
<!--
      <section data-ng-controller="authController" ng-hide="userId">
        <div class="container col-md-6">
          <form data-ng-submit="authSubmit(user)" class="form-signin">
            <div class="row">
              <label for="username">Username</label>
              <input type="text" name="username" data-ng-model="user.username" placeholder="username" class="form-control">
              <label for="password">Password</label>
              <input type="password" name="password" data-ng-model="user.password" class="form-control">
            </div>
            <div class="row">
              <label for="email">eMail</label>
              <input type="email" name="email" data-ng-model="user.email" class="form-control">
              <label for="firstName">First Name</label>
              <input type="text" name="firstName" data-ng-model="user.firstName" class="form-control">
              <label for="lastName">Last Name</label>
              <input type="text" name="lastName" data-ng-model="user.lastName" class="form-control">
            </div>
            <div class="row">
              <label for="city">City</label>
              <input type="text" name="city" data-ng-model="user.city" class="form-control">
              <label for="state">State</label>
              <input type="text" name="state" data-ng-model="user.state" class="form-control">
            </div>
            <div class="row">
              <label for="sign-up" class="sr-only">sign-up</label>
              <button type="submit" class="btn btn-lg btn-primary btn-block">Sign up</button>
            </div>
          </form>
        </div>
      </section>
 -->

<div data-ng-controller="authController" ng-hide="userId" class="container" ng-cloak>
        <div class="omb_login">
          <h3 class="omb_authTitle"><a href="signin.html">Login</a> or Sign up</h3>

          <div class="row omb_row-sm-offset-3">
            <div class="col-xs-12 col-sm-6">
              <form data-ng-submit="authSubmit(user)" data-toggle="validator" class="omb_loginForm" autocomplete="off">
                <div class="alert alert-danger ng-cloak" role="alert" ng-cloak ng-show="errorMsg">
                  <strong>{{errorMsg}}</strong> - Choose a new Username and try again.
                </div>
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                  <input data-ng-model="user.email" type="email" class="form-control" name="emailAddres" placeholder="Email" required>
                </div>
                <span class="help-block"></span>
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-user"></i></span>
                  <input data-ng-model="user.username" type="text" class="form-control" name="username" placeholder="Username" required>
                </div>
                <span class="help-block"></span>

                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                  <input data-ng-model="user.password" type="password" class="form-control" name="password" placeholder="Password" required>
                </div>
                <span class="help-block"></span>
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                  <input data-ng-model="user.confirmPassword" type="password" class="form-control" name="confirmPassword" placeholder="Confirm Password" pattern={{user.password}} title="Passwords must match" required>
                </div>
                <span class="help-block"></span>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
              </form>
            </div>
          </div>

              </p>
            </div>
          </div>
        </div>
      </div>






    </main>
    <footer data-footer></footer>
    <script async src="js/bundle.js"></script>
  </body>
</html>
