
$bootstrap-sass-asset-helper: false !default;
//
// Variables
// --------------------------------------------------


//== Button Colors

$button-background-color: #FDB554;
$button-border-color: #f6bf01;
$button-text-color: white;


