<section ui-view="contact" class="container">
    <p></p>
    <p>
        <h3 class="about">Looking For Game</h3>
        <h4 class="about">
            V1.0.0 was put together in 4 days by Nick Kuhn, Jason Studstill and Kristopher Skelton at Code Fellows in Seattle. Nick and Jason built the backend in Node, Express and Mongo. Kris worked the frontend in HTML, SASS and Angular. We three continue to work on improvements to the site design and layout.
        </h4>
        <br/>
        <h3 class="about">Bug Reports</h3>
        <br/>
        <h4 class="about">
            Try as we might, we won't catch everything. We also appreciate constructive feedback on our project. If you spot a problem or have a suggestion, please contact us at lookingforgameapp@gmail.com
        </h4>
    </p>
</section>
