<!-- Full Width Image Header -->
<main>
    <header class="header-image" ng-hide="userId">
        <div class="headline">
            <div class="container">
                <h2>Join a game near you</h2>
                <h1>Let's Play!</h1>
                <a ui-sref="signup"><button name="signup" class="btn btn-primary btn-xl">Sign Up And Play</button></a>
            </div>
        </div>
    </header>

    <!-- /.container -->
    <section data-new-instance></section>
    <section data-current-games></section>
</main>
