<div data-ng-controller="instancesController" ng-model="query" ng-show="userId">
  <div class="container">
    <div class="row-fluid">
      <h3>Current Games</h3>
      <label for="gameFilter">Arrange Games By </h4>
      <select name="gameFilter" ng-model="queryBy">
        <option value="host">Host</option>
        <option value="game">Game</option>
        <option value="location">Location</option>
        <option value="gameOver">Game Status</option>
        <option value="date">Recently Added</option>
      </select>
    </div>
  </div>
  <div>
  <ul class="container">
    <!-- existing games -->
      <div class="col-12 hero-feature game-instance" data-ng-repeat="instance in instances.slice().reverse() | filter:query | orderBy: queryBy" data-ng-class="{even: $even, odd: $odd}">
          <div class="thumbnail container">
              <!-- <img src="http://placehold.it/800x500" alt=""> -->
              <div class="row caption">
                  <div class="col-md-6">
                    <h3 class="instance-info">{{ instance.game }} - {{ instance.formattedStartTime || instance.startTime}} at {{ instance.location }}</h3>
                  </div>
                  <div class="col-md-6 text-right">
                    <p>
                      <a ng-hide="gameOver || userId==instance.creator" href="#" class="btn btn-primary" ng-disabled="{{instance.gameOver}}">Join Game</a>
                      <a ng-show="instance.gameOver" href="#" class="btn btn-primary" ng-disabled="{{instance.gameOver}}">Game Has Ended</a>
                        <!-- <button class="btn-caution" type="submit" data-ng-click="edit(instance)">Edit</button> -->
                      <button ng-show="userId === instance.creator" class="btn btn-primary" data-ng-click="destroy(instance._id)">Remove Game</button>
                      <button ng-hide="instance.gameOver || userId!==instance.creator" class="btn btn-default game-over" ng-show="!instance.gameOver" data-ng-click="gameOver(instance._id)">Mark Game Complete</button>
                      <span ng-show="userId !== instance.creator && hosting === false && instance.gameOver === false">
                          <button class="btn btn-primary join-game" type="submit" ng-show="isCommitted===false && instance.participants.length < instance.playersNeeded" data-ng-click="join(instance._id)">Join This Game</button>
                          <button class="btn btn-primary btn-warning leave-game" type="submit" ng-show="isCommitted===true && findId(instance).indexOf(userId)!=-1" data-ng-click="quit(instance._id)">Leave this game</button>
                      </span>
                      <a href="#" class="btn btn-default" ng-click="showDetail = !showDetail">More Info</a>
                    </p>
                  </div>
              </div>
              <div class="row caption pull-left" ng-show="showDetail">
                <ul>
                  <li>Game Host: {{instance.host}}</li>
                  <li>Players Signed Up: {{ instance.signedUp || 0 }}</li>
                  <li>Players Needed: {{ instance.playersNeeded }}</li>
                  <li data-ng-repeat="participant in instance.participants">Users Signed Up: {{ participant.username }}</li>
                  <li>Game: {{ instance.game }}</li>
                  <li>Where: {{ instance.location }}</li>
                  <li>Time: {{instance.formattedStartTime || instance.startTime}}</li>
                  <li>Duration: {{instance.playTime}}</li>
                  <li>Game Ended: {{instance.gameOver}}</li>
                </ul>
              </div>
          </div>
      </div>
      </ul>
    </div>
</div>
